.modalOverlay {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.60);
    overflow: hidden;
}