.feedItem {
    background-color: rgba(28, 28, 33, 1);
    border-radius: 40px;
    padding: 24px;
    width: 584px;
    margin-bottom: 16px;
    margin-right: 8px;
}

.feedItemHeader {
    display: flex;
    justify-content: space-between;
}

.listItem {
    border: 2px solid rgba(128, 26, 178, 1);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    background-color: rgba(19, 19, 22, 1);
}

.feedContent {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.ingredientsList {
    display: flex;
    flex-direction: column;
}

/* .ingredientsList + div {
    display: flex;
    gap: 4px;
} */

.ingredientsList {
    height: 31vh;
    overflow: auto;
}

.ingredientsList::-webkit-scrollbar {
    width: 8px;
}

.ingredientsList::-webkit-scrollbar-track {
    background: rgba(47, 47, 55, 1);

}

.ingredientsList::-webkit-scrollbar-thumb {
    background-color: rgba(76, 76, 255, 1);
}

.ingredient {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr;
    align-items: center;
    margin-bottom: 16px;
}

.ingredient p {
    justify-self: flex-end;
}