.ingredientsContent {
    width: min-content;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px;
}

.tabs {
    display: flex;
}

.tabContent {
    height: 70vh;
    overflow: auto;
}

.tabContent::-webkit-scrollbar {
    width: 8px;
}

.tabContent::-webkit-scrollbar-track {
    background: rgba(47, 47, 55, 1);

}

.tabContent::-webkit-scrollbar-thumb {
    background-color: rgba(76, 76, 255, 1);
}