.ingredientsItem {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    height: 100%;
}

.ingredientsItem p {
    height: 50px;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabContent {
    height: 100vh;
    overflow: auto;
}

.tabContent::-webkit-scrollbar {
    width: 8px;
}

.tabContent::-webkit-scrollbar-track {
    background: rgba(47, 47, 55, 1);

}

.tabContent::-webkit-scrollbar-thumb {
    background-color: rgba(76, 76, 255, 1);
}