header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 16px 0;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav div {
    display: flex;
    align-items: center;
}

.profile {
    display: flex;
    align-items: center;
}